/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*------------------------------------------------------------------------------
   Base
------------------------------------------------------------------------------*/
body {
  background: #000 url(../images/fond/global.png);
  background-repeat: repeat;
  font:
    normal 400 1rem "Oranienbaum",
    serif;
  color: #fff;
}

body a {
  color: #fff;
  text-decoration: none;
}

body a:hover {
  color: darkorange;
}

header,
section {
  min-height: 100vh;
}
/*------------------------------------------------------------------------------
   Mise en page
------------------------------------------------------------------------------*/

.boite {
  width: 800px;
  padding: 48px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

/*----------------------------------------------------------------------------
    Elements
----------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
   Components
------------------------------------------------------------------------------*/

/* Header */

/* Section Générale */

/* Section sports */

/* Section web */

/* Section photographie */

/* Bouton retour */
