/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*------------------------------------------------------------------------------
   Base
------------------------------------------------------------------------------*/
body {
  background: #000 url(../images/fond/global.png);
  background-repeat: repeat;
  font:normal 400 1rem "Oranienbaum", serif;
  color: #fff;
}

body a {
  color: #fff;
  text-decoration: none;
}

body a:hover {
  color: darkorange;
}

header{
  text-align: center;
}

header, section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  font: normal 400 6.25rem "Monoton", sans-serif;
}

h2{
  font: normal 400 2rem "Monoton", sans-serif;
  margin: 0;
  text-transform: uppercase;
}
/*------------------------------------------------------------------------------
   Mise en page
------------------------------------------------------------------------------*/

.boite {
  width: 800px;
  padding: 48px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

/*----------------------------------------------------------------------------
    Elements
----------------------------------------------------------------------------*/

header div, section{
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 span{
  font-family: "Oranienbaum", serif;
  font-weight: 400;
  font-style: normal;
  font: normal 400 1.0625rem "Oranienbaum", serif;
}



/*------------------------------------------------------------------------------
   Components
------------------------------------------------------------------------------*/

/* Header */

header a{
  position: absolute;
  bottom: 40px;
}

/* Section Générale */

/* Section sports */

/* Section web */

/* Section photographie */

/* Bouton retour */
