/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*------------------------------------------------------------------------------
   Base
------------------------------------------------------------------------------*/
body {
  background: #000 url(../images/fond/global.png);
  background-repeat: repeat;
  font:normal 400 1rem "Oranienbaum", serif;
  color: #fff;
}

body a {
  color: #fff;
  text-decoration: none;
}

body a:hover {
  color: darkorange;
}

header{
  text-align: center;
}

header, section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  font: normal 400 6.25rem "Monoton", sans-serif;
}

h2{
  font: normal 400 2rem "Monoton", sans-serif;
  margin: 0;
  text-transform: uppercase;
}
/*------------------------------------------------------------------------------
   Mise en page
------------------------------------------------------------------------------*/

.boite {
  width: 800px;
  padding: 48px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

div .images{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

div .images a{
  width: 200px;
  margin: 10px 0;
  text-align: center;
}

.sports .images a img{
  width: 100%;
  margin:10px 0 ;
}

.sports{
  background-image: url(../images/fond/bicycles.png);
}




/*----------------------------------------------------------------------------
    Elements
----------------------------------------------------------------------------*/

header div, section{
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 span{
  font-family: "Oranienbaum", serif;
  font-weight: 400;
  font-style: normal;
  font: normal 400 1.0625rem "Oranienbaum", serif;
  text-transform: lowercase;
}



/*------------------------------------------------------------------------------
   Components
------------------------------------------------------------------------------*/

/* Header */

header a{
  position: absolute;
  bottom: 40px;
}

/* Section Générale */

/* Section sports */

/* Section web */

.web{
  background-image: url(../images/fond/science.png);
}

.web img{
  width: 50%;
}

.web .images{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.web .images a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.web .boite .images{
  margin-bottom: 50px;
}

.lien_float{
text-align: center;
padding: 10px;
background-color: darkred;
}

/* Section photographie */

.photos{
  background-image: url(../images/fond/fond.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
}

.photos img{
  width: 30%;
}

.photos a{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Bouton retour */
